<h1>Listing stamps</h1>

<div class="row">
  <% @products.each do |product| %>
    <% product.images.each do |image| %>
      <%= link_to image.src, class: "col-sm-3" do %>
        <%= image_tag image.src, class: "img-responsive img-thumbnail" %>
      <% end %>
    <% end %>
  <% end %>
</div>


<%= link_to 'New Stamp', new_stamp_path %>
