<h1>Final Preview</h1>

<div class="row">
  <div class="col-xs-12">
    <p>
      Please wait while we generate some preview images.
    </p>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 js-stamp-preview" data-url="<%= stamped_images_url(stamp: @stamp, format: :json) %>">
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <h2>Ready to go?</h2>
    <p>
      If you're happy with how your watermark looks, click Apply My Watermark below.
    </p>
    <p>
      <button class="btn btn-success btn-lg btn-block submit">Apply My Watermark</button>
    </p>
    <hr />
    <h4>How long will it take?</h4>
    <p>Each image usually takes one or two seconds to watermark and upload to your store.</p>
    <h4>Is it permanent?</h4>
    <p>
      No. We save your original images, so if something isn't right you can undo your watermark.<br />
      It costs the same amount to remove a watermark as is does to apply a watermark.
    </p>
  </div>
</div>