@import '_variables';
@import 'bootstrap';
@import 'bootstrap_overrides';
@import 'navigation';
@import 'stamps';

html{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
  padding-bottom: 20px;
}

.brand {
  font-family: "HelveticaNeue-CondensedBold";
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}

.bg-success{
  background-color: $brand-success;
  color: #fff;
}

.padding-bottom{
  padding-bottom: 20px;
}