// Place all the styles related to the Stamps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  img{
    max-width: 100%;
  }
}

.watermark-presets {
  a {
    text-decoration: none;
    cursor: pointer;

    img {
      padding: 5%;
      width: 40%;

      &:hover{
        opacity: 0.9;
      }
    }
  }
}

#watermark-preview{

  #product-image{
    position: relative;
    display: inline-block;
    overflow: hidden;

    #watermark img{
      max-width: none;
      width: 25%;
      position: absolute;

      &.bottom{
        bottom: 0;
      }

      &.left{
        left: 0
      }

      &.right{
        right: 0;
      }

      &.center{
        top: 50%;
        left: 50%;
        -webkit-transform-origin: center;
        -webkit-transform: translate(-50%,-50%);

        &.neg45deg{
          -webkit-transform: translate(-50%,-50%) rotate(-45deg);
        }
      }

      &.vertical{
        -webkit-transform-origin: bottom left;
        -webkit-transform: rotate(-90deg) translate(0, 100%);
      }

    }
  }
}